<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>${title}</title>
		<link rel="icon" href="templates/admin_template/icon.ico" type="image/x-icon"> <!-- Favicon-->
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="templates/user_template/css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="templates/user_template/css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="templates/user_template/css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="templates/user_template/css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="templates/user_template/css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="templates/user_template/css/style.css"/>

		<link rel="stylesheet" href="templates/admin_template/assets/plugins/jquery-treetable/jquery.treeTable.css" />
		<link rel="stylesheet" href="templates/admin_template/assets/plugins/jquery-datatable/dataTables.bootstrap4.min.css">

    </head>
	<body>
		<!-- HEADER -->
		<#include "outline_header.ftl.html">

		<!-- NAVIGATION -->
		<#include "outline_navigation.ftl.html">

		<!-- SECTION -->
		<#include content_tpl>

		<!-- jQuery Plugins -->
		<script src="templates/user_template/js/jquery.min.js"></script>
		<script src="templates/user_template/js/bootstrap.min.js"></script>
		<script src="templates/user_template/js/slick.min.js"></script>
		<script src="templates/user_template/js/nouislider.min.js"></script>
		<script src="templates/user_template/js/jquery.zoom.min.js"></script>
		<script src="templates/user_template/js/main.js"></script>
		<script src="templates/admin_template/assets/plugins/jquery-treetable/jquery.treeTable.js"></script>
		<script src="templates/admin_template/assets/bundles/datatablescripts.bundle.js"></script>
		<script src="templates/admin_template/assets/plugins/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
		<script src="templates/admin_template/assets/plugins/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
		<script src="templates/admin_template/assets/plugins/jquery-datatable/buttons/buttons.colVis.min.js"></script>
		<script src="templates/admin_template/assets/plugins/jquery-datatable/buttons/buttons.flash.min.js"></script>
		<script src="templates/admin_template/assets/plugins/jquery-datatable/buttons/buttons.html5.min.js"></script>
		<script src="templates/admin_template/assets/plugins/jquery-datatable/buttons/buttons.print.min.js"></script>
		<script src="templates/admin_template/assets/js/pages/tables/jquery-datatable.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="templates/user_template/js/custom.js"></script>
	</body>
</html>
