		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container-fluid">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-envelope-o"></i> ${email}</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> ${address}</a></li>
					</ul>
					<ul class="header-links pull-right">
						<#assign newNotif = false>
						<#if notifications?has_content && notifications?size gt 0>
							<#list notifications as notification>
								<#if !notification.read>
									<#assign newNotif = true>
								</#if>
							</#list>
						</#if>
						<li><a href="myNotifications"><i class="fa fa-bell"><#if newNotif><div class="notify"><span class="heartbit"></span></div></#if></i> Notifications</a></li>
						<li><a href="logout"><i class="fa fa-power-off"></i> Logout</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="header-container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-xs-9">
							<div class="header-logo">
								<a href="#" class="logo">
                        			<img class="max-width-50" src="templates/user_template/img/slogan3.svg" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- ACCOUNT -->
						<div class="col-xs-3">
							<div class="header-ctn">
								
								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->