		<nav id="navigation">
			<!-- container -->
			<div class="container-fluid">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li <#if title?matches("index", "i")>class="active"</#if>><a href="index">Home</a></li>
						<li <#if title?matches("profile", "i")>class="active"</#if>><a href="myProfile">Profilo</a></li>
						<li <#if title?matches("new request", "i")>class="active"</#if>><a href="requestDetail">Nuova richiesta</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->
