<#if logininfo??>
    <section class="content">
        <div class="">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h2>Dashboard</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="homepage"><i class="zmdi zmdi-home"></i> Aero</a>
                            </li>
                        </ul>
                        <button class="btn btn-primary btn-icon mobile_menu" type="button"><i
                                class="zmdi zmdi-sort-amount-desc"></i></button>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i
                                class="zmdi zmdi-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon email">
                            <div class="body">
                                <h6>Requests</h6>
                                <h2>${newRequestsMonth} <small class="info">new requests this month</small></h2>
                                <small>${percentageRequests}${percentageRequestsText} than last month</small>
                                <div class="progress">
                                    <div class="progress-bar l-amber" role="progressbar" aria-valuenow="${percentageRequests}"
                                        aria-valuemin="0" aria-valuemax="100" ${percentageRequestsCSS}></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon sales">
                            <div class="body">
                                <h6>Sales</h6>
                                <h2>${newSellsMonth} <small class="info">new sells this month</small></h2>
                                <small>${percentageSells}${percentageSellsText} than last month</small>
                                <div class="progress">
                                    <div class="progress-bar l-green" role="progressbar" aria-valuenow="${percentageSells}"
                                        aria-valuemin="0" aria-valuemax="100" ${percentageSellsCSS}></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-account">
                            <div class="body">
                                <h6>Clients</h6>
                                <h2>${clientsAccepted} <small class="info">clients accepted</small></h2>
                                <small>${percentageClientsAccepted}% of ${clientsTotal} clients are been accepted</small>
                                <div class="progress">
                                    <div class="progress-bar l-purple" role="progressbar" aria-valuenow="${percentageClientsAccepted}"
                                        aria-valuemin="0" aria-valuemax="100" ${percentageClientsAcceptedCSS}></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon domains">
                            <div class="body">
                                <h6>Returns</h6>
                                <h2>${nReturns} <small class="info">of ${nRequests}</small></h2>
                                <small>Total returns on requests</small>
                                <div class="progress">
                                    <div class="progress-bar l-blue" role="progressbar" aria-valuenow="${percentageReturns}"
                                        aria-valuemin="0" aria-valuemax="100" ${percentageReturnsCSS}></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong><i class="zmdi zmdi-chart"></i> WebShop</strong> Report</h2>
                            </div>
                            <div class="body">
                                <input type="hidden" id="chartData1" value="<#list chartData1 as element>${element}<#if element_has_next>,</#if></#list>">
                                <input type="hidden" id="chartData2" value="<#list chartData2 as element2>${element2}<#if element2_has_next>,</#if></#list>">
                                <input type="hidden" id="chartData3" value="<#list chartData3 as element3>${element3}<#if element3_has_next>,</#if></#list>">
                                <div id="chart-area-spline-sracked" class="c3_chart d_sales"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card mcard_3">
                            <div class="body">
                                <div class="img">
                                    <img src="templates/admin_template/assets/images/lg/avatar1.jpg" class="rounded-circle" alt="profile-image">
                                </div>
                                <div class="user">
                                    <h5 class="mt-2 mb-1">${usernameTechnician}</h5>
                                    <small class="text-muted">Technician</small>
                                </div>
                                <p class="body mb-0">Best Technician Worker of WebShop</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card w_data_1">
                            <div class="body">
                                <div class="w_icon pink"><i class="zmdi zmdi-ticket-star"></i></div>
                                <h4 class="mt-3 mb-0">${rTechAccepted}</h4>
                                <span class="text-muted">Requests Accepted</span>
                            </div>
                        </div>
                        <div class="card w_data_1">
                            <div class="body">
                                <div class="w_icon l-green"><i class="zmdi zmdi-money-box"></i></div>
                                <h4 class="mt-3 mb-1">${cTechEarned} €</h4>
                                <span class="text-muted">Cash Earned</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="card mcard_3">
                            <div class="body">
                                <div class="img">
                                    <img src="${categoryImage}" class="rounded-circle" alt="profile-image">
                                </div>
                                <div class="user">
                                    <h5 class="mt-2 mb-1">${categorySoldName}</h5>
                                    <small class="text-muted"><strong>${categorySoldTimes}</strong> times sold</small>
                                </div>
                                <p class="body mb-0">Best-Selling Category</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12 col-lg-8">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Clients</strong> Statistics</h2>
                            </div>
                            <div class="body">
                                <input type="hidden" id="mapData" value="<#list mapData?keys as key>${key}:${mapData[key]}<#if key_has_next>,</#if></#list>">
                                <div id="world-map-markers" class="jvector-map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="card">
                            <div class="header">
                                <h2><strong>Distribution</strong> of Major Clients</h2>
                            </div>
                            <div class="body text-center">                                
                                <input type="hidden" id="pieName1" value="${pieName1}">
                                <input type="hidden" id="pieValue1" value="${pieValue1}">
                                <input type="hidden" id="pieName2" value="${pieName2}">
                                <input type="hidden" id="pieValue2" value="${pieValue2}">
                                <input type="hidden" id="pieName3" value="${pieName3}">
                                <input type="hidden" id="pieValue3" value="${pieValue3}">
                                <input type="hidden" id="pieValue4" value="${pieValue4}">
                                <div id="chart-pie" class="c3_chart d_distribution"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <#else>
    <section class="content">
        <div class="">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h2>Welcome</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="card widget_2 big_icon zmdi-key">
                            <div class="body">
                                <h4>Authentication required</h4>
                                <p>Please <a href=${completeRequestURL}>Login</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </#if>