<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>My Orders</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="homepage"><i class="zmdi zmdi-home"></i> Aero</a></li>
                        <li class="breadcrumb-item">Orders</li>
                        <li class="breadcrumb-item active">My Orders</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="card project_list">
                        <div class="table-responsive">
                            <table class="table table-hover c_table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Category</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Created on</th>
                                        <th>Proposal</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <#if (requests?size>0)>      
                                        <#list requests as request>
                                            <#if (request.proposals?size>0)>
                                                <#assign prop = request.proposals[0]>
                                                <#list request.proposals as p>
                                                    <#if prop.key lt p.key>
                                                        <#assign prop = p>
                                                    </#if>
                                                </#list>
                                            </#if>
                                            <tr onclick="location.href='orderDetail?order=${request.key}'">
                                                <td><strong>${request.key}</strong></td>
                                                <td>${request.category.name}</td>
                                                <td>${request.title}</td>
                                                <td><textarea cols="32" style="white-space: pre-wrap;" disabled>${request.description}</textarea></td>
                                                <td>${request.creationDate}</td>
                                                <#if (request.proposals?size>0)>
                                                    <td>${prop.productName}</td>
                                                    <#if (prop.proposalState == 'INATTESA')>
                                                        <td><span class="replybutton badge mr-3 badge-warning">IN ATTESA</span></td>
                                                    <#else>
                                                        <#if (prop.proposalState == 'APPROVATO')>
                                                            <td><span class="replybutton badge mr-3 badge-success">${prop.proposalState}</span></td>
                                                        <#else>
                                                            <td><span class="replybutton badge mr-3 badge-danger">${prop.proposalState}</span></td>
                                                        </#if>
                                                    </#if>
                                                <#else>
                                                    <td>Click to create proposal</td>
                                                    <td><span class="badge badge-danger">NEW</span></td>
                                                </#if>
                                            </tr>
                                        </#list>
                                    </#if>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>