<div class="navbar-right">
    <ul class="navbar-nav">
        <li><a href="#search" class="main_search" title="Search..."><i class="zmdi zmdi-search"></i></a></li>
        <li class="dropdown">
            <#assign newNotif = false>
            <#if notifications?has_content && notifications?size gt 0>
                <#list notifications as notification>
                    <#if !notification.read>
                        <#assign newNotif = true>
                    </#if>
                </#list>
            </#if>
            <a href="javascript:void(0);" class="dropdown-toggle" title="Notifications" data-toggle="dropdown" role="button"><i class="zmdi zmdi-notifications"></i>
                <#if newNotif>
                    <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                </#if>
            </a>
            <ul class="dropdown-menu slideUp2">
                <li class="header">Notifications</li>
                <li class="body">
                    <ul class="menu list-unstyled">
                        <#if notifications?has_content && notifications?size gt 0>
                            <#list notifications as notification>
                                <li>
                                    <a href="${notification.link}">
                                        <#if notification.type?matches("INFO", "i")>
                                            <div class="icon-circle bg-blue waves-effect waves-float waves-blue"><i class="zmdi zmdi-account"></i></div>
                                        </#if>
                                        <#if notification.type?matches("NUOVO", "i")>
                                            <div class="icon-circle bg-green waves-effect waves-float waves-green"><i class="zmdi zmdi-comment-text-alt"></i></div>
                                        </#if>
                                        <#if notification.type?matches("MODIFICATO", "i")>
                                            <div class="icon-circle bg-amber waves-effect waves-float waves-amber"><i class="zmdi zmdi-edit"></i></div>
                                        </#if>
                                        <#if notification.type?matches("CHIUSO", "i")>
                                            <div class="icon-circle bg-purple waves-effect waves-float waves-purple"><i class="zmdi zmdi-shopping-cart"></i></div>
                                        </#if>
                                        <#if notification.type?matches("ANNULLATO", "i")>
                                            <div class="icon-circle bg-red waves-effect waves-float waves-red"><i class="zmdi zmdi-delete"></i></div>
                                        </#if>
                                        <div class="menu-info">
                                            <#if !notification.read>
                                                <h4><strong>${notification.message}</strong></h4>
                                                <p><i class="zmdi zmdi-time"></i> <strong>${notification.creationDate.format('dd/MM/yyyy HH:mm')}</strong></p>
                                            <#else>
                                                <h4>${notification.message}</h4>
                                                <p><i class="zmdi zmdi-time"></i> ${notification.creationDate.format('dd/MM/yyyy HH:mm')}</p>
                                            </#if>
                                        </div>
                                    </a>
                                </li>
                            </#list>
                        </#if>
                    </ul>
                </li>
                <li class="footer"> <a href="notifications">View All Notifications</a> </li>
            </ul>
        </li>
        <li><a href="javascript:void(0);" class="js-right-sidebar" title="Setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
        <li><a href="logout" class="mega-menu" title="Sign Out"><i class="zmdi zmdi-power"></i></a></li>
    </ul>
</div>