<aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs sm">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="setting">
            <div class="slim_scroll">
                <div class="card">
                    <h6>Theme Option</h6>
                    <div class="light_dark">
                        <div class="radio">
                            <input type="radio" name="radio1" id="lighttheme" value="light" onclick="saveTheme(this)" <#if themeMode?has_content && themeMode?matches("light", "i")>checked</#if>>
                            <label for="lighttheme">Light Mode</label>
                        </div>
                        <div class="radio mb-0">
                            <input type="radio" name="radio1" id="darktheme" value="dark" onclick="saveTheme(this)" <#if themeMode?has_content && themeMode?matches("dark", "i")>checked</#if>>
                            <label for="darktheme">Dark Mode</label>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h6>Color Skins</h6>
                    <ul class="choose-skin list-unstyled">
                        <li data-theme="purple" onclick="saveSkin('purple')" <#if themeSkin?has_content && themeSkin?matches("purple", "i")>class="active"</#if>><div class="purple"></div></li>
                        <li data-theme="blue" onclick="saveSkin('blue')" <#if themeSkin?has_content && themeSkin?matches("blue", "i")>class="active"</#if>><div class="blue"></div></li>
                        <li data-theme="cyan" onclick="saveSkin('cyan')" <#if themeSkin?has_content && themeSkin?matches("cyan", "i")>class="active"</#if>><div class="cyan"></div></li>
                        <li data-theme="green" onclick="saveSkin('green')" <#if themeSkin?has_content && themeSkin?matches("green", "i")>class="active"</#if>><div class="green"></div></li>
                        <li data-theme="orange" onclick="saveSkin('orange')" <#if themeSkin?has_content && themeSkin?matches("orange", "i")>class="active"</#if>><div class="orange"></div></li>
                        <li data-theme="blush" onclick="saveSkin('blush')" <#if themeSkin?has_content && themeSkin?matches("blush", "i")>class="active"</#if>><div class="blush"></div></li>
                    </ul>                                        
                </div>               
            </div>                
        </div>       
    </div>
</aside>